.teacher-detail{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 467px;
    height: 562px;
    background-color: #DA0175;
    border-radius: 16px;

    padding: 24px 54px;
    margin: 92px 0; 

    color: #FFF;
}

.teacher-detail h1{
    margin: 24px 0 12px 0;

    font-size: 28px;
}

.teacher-detail span{
    margin-bottom: 20px;

    font-size: 18px;
}

.teacher-detail h3{
    margin: 16px 0 24px 0;

    font-size: 22px;
    text-decoration: underline;
}

.teacher-detail p{
    max-height: 150px;
    padding: 5px;

    font-size: 14px;
    text-align: justify;
    overflow-y: auto;
}